<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto col-12">
                <div class="card bg-secondary shadow">
                    <div class="card-header">
                        <h3 class="text-center">Notification</h3>
                    </div>
                    <div class="card-body">
                        <h6 class="title">
                            De kans@gmail.com le 02 Juin 2021, à 10h15
                        </h6>
                        <div class="content">
                            Vous avez oublié de nous contacter pour la réparation du tuyau dans la douche
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
