.card{
    border : none;
    box-shadow : 0 0 2px 4px rgb(228, 227, 227);
    outline: none;
    padding:20px;
}
.text1{
    height:70%;
    font-weight: bold;
}
.text2{
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-items:center;
    color : white;
    margin: auto;
    font-weight: bold;
}