<div class="container-fluid body">
    <div class="registration-form">
        <form >
            <div class="form-icon">
                <span><i class="icon material-icons">person</i></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="phone-number" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="birth-date" placeholder="Birth Date">
            </div>
            <div class="row">
                <span style="float: right;">
                    <a routerLink="/home" class="mx-3" style="color: rgb(59, 59, 59);text-decoration: none;font-size: 14px;">Don't have an account yet ?</a>
                </span>
            </div>
            <div class="row">
                <button type="submit" class="create-account col-6 col-sm-6 mx-auto my-1">S'Inscrire</button>
            </div>
        </form>
    </div>
</div>
